.DS_Store
.venv
# all the pycache
__pycache__

# all the egg info
*.egg-info
firectl
references


samples.json
tmp_metrics/*
temp_metrics/*

dist/*
verl/*
verl
E2B
runs
open-r1
deepseek-prover-v2
trl_cookbooks
trl-output
training.log
rllm
grpo_deepcoder_output
SandboxFusion
atropos
gorilla
tau-bench
.venv-py310
